.home {
  height: 100%;
  display: grid;
  place-items: center;
  place-content: center;
  img {
    width: 120px;
  }
  h1 {
    font-weight: 800;
    color: $secondary;
    margin-bottom: 16px;
    // font-size: 30px
  }
  h2 {
    color: $primary;
    margin: 0 0 20px 0;
  }
  .btn-login-github {
    border: 0;
    border-radius: 9999px;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    transition: opacity 0.3s ease;
    cursor: pointer;
    color: $white;
    background-color: $black;

    display: flex;
    align-items: center;

    &:hover {
      opacity: 0.7;
    }

    svg {
      width: 24px;
      margin-right: 8px;
    }
  }
}
